# =========================
# Unity
# =========================
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Arquivos de projeto gerados automaticamente
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.boop
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Crashlytics e pacotes
sysinfo.txt
*.apk
*.aab
*.unitypackage
CrashReporter/

# =========================
# ROS 2 (Colcon Workspace)
# =========================
build/
install/
log/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.pytest_cache/

# =========================
# VS Code / IDEs
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# =========================
# Sistema Operacional
# =========================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db